* {
    box-sizing: border-box;
}

.global-container {
    position: relative;
    margin: 0 auto;
    background-color: #f0f2f5;
}

body {
    margin: 0;
    background: #fff;
    font-family: "SFProDisplay-Regular", "Helvetica", sans-serif;
}

a {
    text-decoration: none;
}

.container .left img {
    width: 300px;
    margin: -28px;
}

.container {
    display: flex;
    min-height: 100vh;
    height: auto;
    align-items: center;
    max-width: 1060px;
    margin-inline: auto;
    padding: 0 40px;
    gap: 80px;
}

.container .left {
    margin-top: -120px;
}

h2 {
    font-weight: normal;
    margin-top: 16px;
    line-height: 1.3;
    font-size: 28px;
    font-weight: 400;
    width: 500px;
}

.container .right {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.form-container {
    padding: 16px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 396px;
    margin-bottom: 30px;
}

form input {
    padding: 16px;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid #dddfe2;
    font-family: "SFProDisplay-Regular", "Helvetica", sans-serif;
}

form input:focus::placeholder {
    color: #a9a9a9;
}

form input:focus {
    outline: 1px solid #1877f2;
}

form a {
    font-size: 14px;
    color: #1877f2;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dddfe2;
}

form a:hover {
    text-decoration: underline;
}

.btn {
    background: #1877f2;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.btn.green {
    font-size: 18px;
    background: #42b72a;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: -10px;
    transition: all 300ms ease;
}

.btn.green:hover {
    background: #3ca727;
}

.right p {
    font-size: 14px;
}

.right p a {
    color: #000;
}

/*footer*/

footer{
  background:#fff;
}

._8opy {
    padding-top: 20px;
}

.footer-page {
    color: #737373;
    margin: 0 auto;
    width: 980px;
}

.footer-page a:last-child {
    margin-right: 0;
}

.footer-page a {
    white-space: nowrap;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

._2pid {
    padding-top: 8px;
}


/* ul lang */
.locale-selector-list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.locale-selector-list a {
    color: #8a8d91;
}

ul.locale-selector-list > li:first-child {
    padding-left: 0;
    padding-right: 0;
    border-width: 0;
}

.locale-selector-list > li {
    vertical-align: top;
    display: inline-block;
    padding-left: 10px;
    padding-right: 0;
    border-width: 0 0 0 1px;
    font-size: 12px;
}

.locale-selector-list > li a:hover {
    text-decoration: underline;
}

/* plus svg */
.plus_svg_block {
    border: 1px solid;
    border-radius: 2px;
    box-sizing: content-box;
    font-size: 12px;
    font-weight: 700;
    justify-content: center;
    padding: 0 8px;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    transition: .2s cubic-bezier(.08, .52, .52, 1) background-color,
                .2s cubic-bezier(.08, .52, .52, 1) box-shadow, 
                .2s cubic-bezier(.08, .52, .52, 1) transform;
    background-color: #f5f6f7;
    border-color: #ccd0d5;
    color: #4b4f56;
    height: 18px;
    line-height: 18px;
    display: inline-block;
}

.plus_svg_block:hover {
    background-color: #ebedf0;
}

.plus_svg_block .plus_img {
    bottom: 1px;
    position: relative;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    background-position: -54px -6px;
    background-image: url(images/plus.svg);
    background-size: auto;
    background-repeat: none;
    display: inline-block;
}

/* curve */
.contentCurve {
    border-bottom: 1px solid #dddfe2;
    font-size: 1px;
    height: 8px;
    margin-bottom: 8px
}

/* page footer link list */

.page-footer-link-list{
  display:flex;
  flex-wrap:wrap;
  line-height: 1.6;
}

.page-footer-link-list li{
  margin-right: 20px;
}

.page-footer-link-list a{
  color:#8a8d91;
  font-size:12px;
}

.page-footer-link-list a:hover{
  text-decoration: underline;
}

/* copyright */
.copyright {
    font-size: 11px;
    margin: 20px 0;
}

/* @media */

@media (max-width: 900px) {
    .container {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }    

    h2 {
        font-size: 24px;
        width: 400px;
        line-height: 1.2;
    }    

    .container .left {
        margin-top: 40px;
    }    
}    

@media only screen and (max-width: 1075px){
    html ._8opy .footer-page {
        margin: 0 40px;
        width: auto;
    }
}